.statistics{
width: 500px;
height: auto;
margin: auto;
padding-top: 20px;

background-color: rgba(237, 237, 237, 0.668);
}


.title{
    font-family:Roboto sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.statList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;

    padding-top: 20px;
}

.item{
display: grid;
text-align: center;
grid-template-rows: 30px 30px;
gap: 10px;

/* background-color: rgb(147, 147, 147); */
/* border: 1px solid rgba(106, 106, 106, 0.723); */

}

.label{
    font-family: Roboto sans-serif;
color: white;
text-align: center;
align-self: flex-end;
}

.percentage{ 
font-family: Roboto sans-serif;
font-size: 20px;
color: white;
text-align: center;

} 